<!DOCTYPE html>
<html lang="en" data-theme="night">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="/stylesheets/tailwind.css" />
  <body>
    <% include ../partials/navbar %>
    <div class="container">
      <div class="flex items-center justify-center mt-16">
        <div class="w-10/12 px-2">
          <div class="shadow-xl rounded-lg overflow-hidden md:flex mx-auto">
            <div
              class="bg-cover bg-bottom h-56 md:h-auto lg:w-96"
              style="background-image: url('<%= post.image %>')"
            ></div>
            <div class="w-full">
              <div class="p-4 md:p-5">
                <div class="flex justify-between">
                  <span class="font-bold text-xl md:text-2xl"
                    ><%= post.title %></span
                  >
                  <span id="demo"></span>
                </div>
                <p class="text-gray-700 md:text-lg"><%= post.author.name %></p>
              </div>
              <div class="p-4 md:p-5 glass">
                <div class="text-lg">
                  <p class="text-black test-lg"><%= post.content %></p>
                </div>
                <hr class="my-7" />
                <% if(locals.user) { %>

                <input
                  type="text"
                  placeholder="Comment here"
                  class="input input-bordered input-secondary w-full max-w-xs"
                  id="comment"
                />
                <button
                  class="btn btn-outline btn-primary"
                  onclick="giveComment('<%= post._id %>', '<%= post.author._id %>')"
                >
                  Add
                </button>

                <% } else { %>

                <span class="text-black mr-6"
                  >Log in or sign up to comment</span
                >
                <a href="/login" class="btn btn-active btn-secondary">Login</a>

                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="my-10 ml-12" />

      <div class="antialiased mx-auto max-w-screen-lg">
        <div class="space-y-4">
          <% for(let i = 0; i < comments.length; i++) { %>

          <div class="flex">
            <div class="flex-shrink-0 mr-3">
              <img
                class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10"
                src="<%= comments[i].commenter.profile %>"
                alt=""
              />
            </div>
            <div
              class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed"
            >
              <div class="block flex justify-between">
                <strong><%= comments[i].commenter.name %></strong>
                <span class="text-xs text-gray-400" id="date"></span>
              </div>
              <input
                type="hidden"
                value="<%= comments[i].created %>"
                id="hidden"
                class="hidden"
              />
              <br />
              <p class="text-sm"><%= comments[i].comment %></p>
              <div class="mt-4 items-center">
                <div
                  class="text-sm text-gray-500 font-semibold mb-6 mt-1 cursor-pointer hover:underline hover:text-slate-200 inline-block"
                  onclick="showReply(this)"
                >
                  Replies
                </div>

                <div class="i am here hidden" id="replybox">
                  <input
                    type="text"
                    placeholder="Reply here"
                    class="input input-bordered input-secondary w-full btn-sm max-w-xs"
                    id="replyInput"
                  />
                  <button
                    onclick="giveReply('<%= comments[i]._id %>')"
                    class="btn btn-outline btn-primary btn-sm"
                  >
                    reply
                  </button>
                  <% if(comments[i].reply) { %>
                  <div class="flex mt-6">
                    <div class="flex-shrink-0 mr-3">
                      <img
                        class="mt-3 rounded-full w-6 h-6 sm:w-8 sm:h-8"
                        src="<%= comments[i].author.profile %>"
                        alt=""
                      />
                    </div>
                    <div
                      class="flex-1 bg-base-300 rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed"
                    >
                      <strong><%= comments[i].author.name %></strong>
                      <span class="text-xs text-gray-400"
                        ><%= comments[i].updated %></span
                      >
                      <p class="text-xs sm:text-sm"><%= comments[i].reply %></p>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>

          <% } %>

          <!-- replys -->
          <!-- <div class="flex">



            <div class="flex-shrink-0 mr-3">
              <img class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10" src="https://images.unsplash.com/photo-1604426633861-11b2faead63c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=80" alt="">
            </div>
            <div class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
              <strong>Sarah</strong> <span class="text-xs text-gray-400">3:34 PM</span>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua.
              </p>
              
              <h4 class="my-5 uppercase tracking-wide text-gray-400 font-bold text-xs">Replies</h4>
      
              <div class="space-y-4">
                <div class="flex">
                  <div class="flex-shrink-0 mr-3">
                    <img class="mt-3 rounded-full w-6 h-6 sm:w-8 sm:h-8" src="https://images.unsplash.com/photo-1604426633861-11b2faead63c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=80" alt="">
                  </div>
                  <div class="flex-1 bg-base-300 rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
                    <strong>Sarah</strong> <span class="text-xs text-gray-400">3:34 PM</span>
                    <p class="text-xs sm:text-sm">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                      sed diam nonumy eirmod tempor invidunt ut labore et dolore
                      magna aliquyam erat, sed diam voluptua.
                    </p>
                  </div>
                </div>
                <div class="flex">
                  <div class="flex-shrink-0 mr-3">
                    <img class="mt-3 rounded-full w-6 h-6 sm:w-8 sm:h-8" src="https://images.unsplash.com/photo-1604426633861-11b2faead63c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=80" alt="">
                  </div>
                  <div class="flex-1 bg-base-300 rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
                    <strong>Sarah</strong> <span class="text-xs text-gray-400">3:34 PM</span>
                    <p class="text-xs sm:text-sm">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                      sed diam nonumy eirmod tempor invidunt ut labore et dolore
                      magna aliquyam erat, sed diam voluptua.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- ////////////////////////////////////////// -->
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script>
    var str = "<%= post.created %>";
    document.getElementById("demo").innerHTML = str.slice(8, -27);

    $("#date").html($("#hidden").val().slice(8, -27));


    function showReply(data) {
      const toggle = $(data).parents()[0].children[1];
      if (toggle.style.display === "none") {
        toggle.style.display = "block";
      } else {
        toggle.style.display = "none";
      }
    }

    function giveComment(post, author) {
      const data = { post: post, author: author, comment: $("#comment").val() };
      $.ajax({
        url: "/users/givecomment",
        type: "POST",
        data: data,
      }).done((result) => {
        console.log(result);
        if (result.status == "error") {
          alert("Something went wrong");
          $("#comment").val("");
          $("#comment").focus();
        } else {
          $("#comment").val("");
          $("#comment").focus();
          location.reload();
        }
      });
    }

    function giveReply(commentId) {
      const data = { comment: commentId, reply: $("#replyInput").val() };
      $.ajax({
        url: "/users/giveReply",
        type: "POST",
        data: data,
      }).done((result) => {
        console.log(result);
        if (result.status == "error") {
          alert("Something went wrong");
          $("#comment").val("");
          $("#comment").focus();
        } else {
          $("#comment").val("");
          location.reload();
        }
      });
    }

   
  </script>
</html>
